body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: #FFFFFF;
    padding:0;
    margin:0;
}

#mapcont {
    padding:15px;
    margin:0 0 20px 0;
    border:1px solid #CCC;
    overflow:hidden;
    zoom:1;
    height:auto;
}

#map {
    position:relative;
    width:740px;
    height:660px;
    border:0;
    float:left;
}

#mapcont h3 {
    font-family:Georgia,'Times New Roman',Times,serif;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:2px;
    margin:0 0 10px 0;
}

#panel {
    float:left;
    position:relative;
    width:210px;
    height:660px;
    padding-left:15px;
}

#mapcont .legend {
    border:1px solid #CCC;
    margin-top:25px
}

#mapcont .legend h3 {
    text-transform:uppercase;
    font-size:12px;
    font-weight:normal;
    font-family:Arial;
    padding:5px 7px;
    margin:0;
}

#legend_info {
    border-top:1px solid #CCC;
    font-size:11px;
    padding:5px 7px;
}

#legend_info p.title {
    font-size:12px;
    margin:0 0 5px 0;
}

#legend_info ul.colors {
    margin:0 0 0 7px;
    padding:0;
    list-style:none;
}

#legend_info ul.colors li {
    margin:0 0 3px 0;
    clear:both;
}

#legend {
    display:none;
}

#mapcont .legend ul.addition {
    border-top:1px solid #CCC;
    margin:0 0 7px 0;
    padding:0;
    list-style:none;
}

#mapcont .legend ul.addition li {
    font-size:11px;
    margin:5px 0 0 0;
    padding-left:35px;
    background:transparent url(../img/election_legend.png) 0 0 no-repeat;
}

#mapcont .legend ul.addition li.icon1 {
    background-position:15px 2px;
}

#mapcont .legend ul.addition li.icon2 {
    background-position:15px -22px;
}

#mapcont .legend-block {
    display:block;
    float:left;
    height:12px;
    margin:0.1em 0.7em 0 0;
    width:12px;
}


.tooltip {
    display: none;
}

#holder {
    z-index: 1887;
    position: absolute;
}


#help {
    clear: both;
    padding-top: 4px;
    width: 650px;
    font-size: 11px;
}

/* map_popup */

#map_popup {
    width:400px;
    font-size:11px;
    font-family:Arial;
    z-index:10000;
}

#map_popup .content {
    background-color:#FFF;
    border:1px solid #CCC;
    margin-top:7px;
    padding:0 10px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    box-shadow:0 0 3px rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5);
}

#map_popup .content h3 {
    font-size:13px;
    font-family:Arial;
    font-weight:bold;
    margin:10px 0 5px 0;
    color:#555;
}

#map_popup .content a {
    text-decoration:none;
    color:#2A2A78;
    font-weight:bold;
}

#map_popup .content table {
    border-collapse:collapse;
margin:0 0 10px 0;
}

#map_popup .content table td,
#map_popup .content table th {
    padding:5px;
}

#map_popup .content table td {
    border-top:1px solid #CCC;
}

#map_popup .content table td.t {
    width:40%;
}

#map_popup .content table td.c {
    font-weight:bold;
}

#map_popup .content table td.red {
    font-weight:bold;
    color: #ff0000;
}

#map_popup .content table th {
    text-align:left;
    color:#777;
}

#map_popup .content p {
    margin:13px 0;
    font-style:italic;
    color:#777;
}

#map_popup .arrow {
    position:absolute;
    border-left:10px solid transparent;
    border-top:10px solid #FFF;
    border-right:10px solid transparent;
    border-bottom:;
    font-size:0;
    left:50%;
    bottom:-9px;
}

/* breadcrumbs */

#breadcrumbs {
    margin:0 0 7px 0;
}

#breadcrumbs .breadcrumb {
    color:#2A2A78;
    margin-right:10px;
    font-size:12px;
    font-family:Arial;
}

/* search */

#search {
    margin: 10px 0;
    width: 210px;
    border: 1px solid #bbb;
}

/* panel */

#panel ul.menu {
    list-style:none;
    margin:0;
    padding:0;
}

#panel ul.menu li {
    margin:0;
    padding:6px 5px;
    border-bottom:1px solid #CCC;
    font-size:13px;
    font-family:Arial;
    font-weight:11px;
    cursor:pointer;
}

#panel ul.menu li label {
    cursor:pointer;
    color:#2A2A78;
}

#panel ul.menu li.title {
    text-transform:uppercase;
    font-size:12px;
    border-bottom:3px solid #CCC;
    cursor:default;
}

#panel ul.menu li.switch:hover {
    background-color:#EEE !important;
}

#panel ul.menu li.sel {
    background-color:#DDD !important;
}

#panel ul.menu li input {
    display:none;
}

#panel ul.menu li.hr {
    border-bottom:1px solid #333;
}

#panel ul.menu li.last {
    border-bottom:none;
}

#panel ul.menu li.icon {
    background:transparent url(../img/election_colors.png) 7px 7px no-repeat;
    padding-left:28px;
}

#panel ul.menu li.icon.p_party_2 {
    background-position:7px -20px;
}

#panel ul.menu li.icon.p_party_3 {
    background-position:7px -49px;
}

#panel ul.menu li.icon.p_party_4 {
    background-position:7px -77px;
}

#panel ul.menu li.icon.p_party_5 {
    background-position:7px -105px;
}

#panel ul.menu li.icon.p_party_6 {
    background-position:7px -133px;
}

#panel ul.menu li.icon.p_party_7 {
    background-position:7px -161px;
}

#panel ul.menu.activity {
    margin-top:15px;
}

/* OpenLayers */

div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}

.olControlPanPanel {
    top: 10px;
    left: 5px;
}  

.olControlPanPanel div {
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0;
    left: 9px;
    background-image: url(../img/dark/north-mini.png);
}
.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-image: url(../img/dark/south-mini.png);
}
.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0;
    background-image: url(../img/dark/west-mini.png);
}
.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-image: url(../img/dark/east-mini.png);
}

.olControlZoomPanel {
    top: 71px;
    left: 14px;
} 

.olControlZoomPanel div {
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0;
    left: 0;
    background-image: url(../img/dark/zoom-plus-mini.png);
}

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    display: none;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 18px;
    left: 0;
    background-image: url(../img/dark/zoom-minus-mini.png);
}